@charset "utf-8";

@font-face {
    font-family: 'glyphicons-halflings-regular';
    src: url('/fonts/glyphicons-halflings-regular.eot');
    src: url('/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/glyphicons-halflings-regular.woff') format('woff'),
         url('/fonts/glyphicons-halflings-regular.ttf') format('truetype'),
         url('/fonts/glyphicons-halflings-regular.svg#glyphicons-halflings-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1:before {
    margin: 10px 20px;
    color: #ff0000;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    font-weight: normal;
    font-family: 'glyphicons-halflings-regular';
    content: 'i ♥ fingerprint';
}
